.avatarBehindDesk {
	// width: 306.5px; //613px;
	// height: 274px; //548px;
	//width: 35%;
	width: 450px;
	min-width: 170px;
	// min-height: 274px;
	height: auto;
	position: fixed;
	top: auto;
	bottom: 0;
	z-index: 4;
	@extend .leftAlignMixin;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.topWrapper {
	padding: 0 20px;
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
	.avatarBehindDesk {
		width: 40%;
	}
	.carouselWrapper {
		width: 60%;
		margin-top: 20px;
	}
	.ourCarousel {
		padding: 20px 15px 60px 15px;
		min-height: 290px;
	}
	.carousel-control {
		width: 27.5px;
		height: 30px;
		bottom: 15px;
		&.left, &.right,
		&.left:hover, &.right:hover,
		&.left.disabled, &.right.disabled, 
		&.left.disabled:hover, &.right.disabled:hover,
		&.right.submit, &.right.submit:hover {
			background-size: 25px 27.5px;
		}
	}
	.ourCarousel {
		.carousel-indicators {
			bottom: 15px;
			/* li {
				width: 10px;
				height: 10px;
				border: 2px solid $deep-orange;
			} */
			& + li {
				margin-left: 3px;
			}
		}
	}

}

@media screen and (max-width: 736px) and (orientation: landscape) {
	.carouselWrapper  {
		padding-left: 25px;
		.whiteArrow {
			border-right-width: 25px;
			border-bottom-width: 20px;
			border-top-width: 20px;
			bottom: 30px;
			left: 0;
		}
		.transparentArrow {
			border-right-width: 23px;
			border-bottom-width: 18px;
			border-top-width: 18px;
			bottom: 27px;
			left: 2px;
		}
	}
	.carousel-control {
		&.left {
			left: 15px;
		}
		&.right {
			right: 15px;
		}
	}
	.ourCarousel {
		.carousel-indicators {
			bottom: 17px;
			li {
				width: 12px;
				height: 12px;
				border: 2px solid $deep-orange;
				& + li {
					margin-left: 1px;
				}
			}
		}
	}
	.textBig-40 {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) and (orientation: portrait){
	body {
		background-image: none;
		background-color: #abcdef;
	}
	.topWrapper {
		padding: 0;
	}
	.avatarBehindDesk {
		width: 72%;
	}
	.textBig-40 {
		font-size: 16px;
	}
	.carouselWrapper {
		width: 100%;
		padding-left: 0;
		margin-top: 0;
		.whiteArrow {
			border-top: 35px solid #fff;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom: none;
			left: 50%;
			margin-left: -24.5px;
			bottom: -35px;
		}
		.transparentArrow {
			border-top: 43px solid rgba(0, 0, 0, 0.15);
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: none;
			left: 50%;
			margin-left: -26.5px;
			bottom: -43px;
		}
	}
	.ourCarousel {
		border-radius: 0;
		padding: 15px 15px 40px 15px;
		min-height: 220px;
	}
	.ourCarousel {
		.carousel-indicators {
			bottom: 12px;
			li {
				width: 12px;
				height: 12px;
				border: 2px solid $deep-orange;
				& + li {
					margin-left: 1px;
				}
			}
		}
	}
	.carousel-control {
		&.left {
			left: 15px;
		}
		&.right {
			right: 15px;
		}
	}
	.carousel-control {
		width: 27.5px;
		height: 30px;
		bottom: 10px;
		&.left, &.right,
		&.left:hover, &.right:hover,
		&.left.disabled, &.right.disabled, 
		&.left.disabled:hover, &.right.disabled:hover,
		&.right.submit, &.right.submit:hover {
			background-size: 25px 27.5px;
		}
	}
	.logoRocket {
		float: right !important;
		margin-right: 20px;
	}
}



