.avatarBehindDesk {
	// width: 306.5px; //613px;
	// height: 274px; //548px;
	//width: 35%;
	width: 450px;
	min-width: 170px;
	// min-height: 274px;
	height: auto;
	position: fixed;
	top: auto;
	bottom: 0;
	z-index: 4;
	@extend .leftAlignMixin;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}


@media screen and (max-width: 1024px) and (orientation: landscape) {
	.avatarBehindDesk {
		width: 32%;
	}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	.avatarBehindDesk {
		width: 72%;
	}
}
