/*===========================================

	baseElement.scss
	* css style for base Elements

=============================================*/

*,
*:before,
*:after {
	@extend %boxSizingBorderBox;
}

*, *:focus {
	outline: none;
}

body {
	position: relative;
	overflow: hidden;
	font-size: 14px;
	background: url("../images/bg_ref.png") center top no-repeat;
	font-family: FredokaOne, "Helvetica Neue", Helvetica, Arial, sans-serif;
	* {
		font-family: FredokaOne;
	}
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}

