/* FONT Definitions =================================
=====================================================*/

@font-face {
    font-family: 'FredokaOne';
    src: url('fonts/FredokaOne.eot');
    src: url('fonts/FredokaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}