.rightAlignMixin {
	position: absolute;
	right: -moz-calc(50% - 496px);
	right: -webkit-calc(50% - 496px);
	right: calc(50% - 496px);
}
.leftAlignMixin {
	position: absolute;
	left: -moz-calc(50% - 496px);
	left: -webkit-calc(50% - 496px);
	left: calc(50% - 496px);
}

@media (max-width: 992px) {
	.rightAlignMixin {
		right: -moz-calc(50% - 384px);
		right: -webkit-calc(50% - 384px);
		right: calc(50% - 384px);
	}
	.leftAlignMixin {
		left: -moz-calc(50% - 384px);
		left: -webkit-calc(50% - 384px);
		left: calc(50% - 384px);
	}
}

@media (max-width: 768px) {
	.rightAlignMixin {
		right: 20px;
	}
	.leftAlignMixin {
		left: 20px;
	}
}

.topWrapper {
	width: 992px;
	margin: 0 auto;
	padding: 0 20px;
}
@media (max-width: 992px) {
	.topWrapper {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.topWrapper {
		width: 100%;
	}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	.topWrapper {
		padding: 0;
	}
}
